@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #000428, #004e92);
  --text-color-primary: #fffcf2;
  --text-color-primary-soft: #e6e3db;
  --text-color-secondary: #111111;
  --secondary: #f0a202;
  --text-color-terciary: #858786;
  --padding-header: 120px;
  --padding-content: 262px;
  --bg-soft: #2489e2;
  --bg-darker: #185e9b;
  --trybe: #21e54d;
}

/* * {
  border: #fffcf2 1px solid;
} */

body {
  background: var(--background);
  color: var(--text-color-primary);
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
button,
a {
  min-width: fit-content;
}

@layer base {
  header {
    @apply flex w-full justify-center items-center h-20;
  }

  h1 {
    @apply text-[var(--secondary)] font-bold uppercase italic text-xl;
  }

  nav {
    @apply flex flex-row w-full justify-center items-center h-full gap-12;
  }
}

@layer components {
  .container-header {
    @apply flex flex-row px-[var(--padding-header)] w-full justify-between items-center h-full;
  }

  .container-icons {
    @apply flex flex-row justify-center items-center h-full gap-4;
  }

  .nav-link {
    @apply text-xl font-bold hover:text-[var(--secondary)];
  }

  .container-main {
    @apply flex flex-col justify-center p-5 lg:px-[var(--padding-content)] lg:py-16 w-full lg:justify-between items-center;
  }

  .container-hero {
    @apply flex flex-col-reverse gap-6 justify-center lg:flex-row lg:justify-between items-center w-full;
  }

  .container-home-projects {
    @apply flex flex-col justify-between items-start w-full mt-16 gap-4;
  }

  .grid-projects {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6;
  }

  .container-home-projects {
    @apply flex flex-col justify-between items-start w-full mt-16 gap-4;
  }
}

@layer utilities {
}
